* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  height: auto;
  width: 100%;
  background-color: #61dafb;
}

.nav-item {
  padding: 20px 40px;
  color: rgb(7, 8, 80);
  font-size: 1.2rem;
  font-weight: 700;
}